<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Benvenuto nella Home Page</h1>
    <p>Sei autenticato con successo!</p>

    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <form action="/sqla" method="GET">
        <button>SQL Query Table A</button>
    </form>
    <form action="/sqlb" method="GET">
        <button>SQL Query Table B</button>
    </form>
    <form action="/miniobuckets" method="GET">
        <button>Get available bucktes</button>
    </form>
    <form action="/minioa" method="GET">
        <button>Get file from bucket A</button>
    </form>
    <form action="/miniob" method="GET">
        <button>Get file from bucket B</button>
    </form>
</body>
</html>
